.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
@mixin hunheqi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gouwuche {
  width: 17px;
  height: 17px;
  color: #ddd;
}
.layui-rowNav {
  display: flex;
  background-color: #000;
}
.layui-breadcrumb > * {
  font-size: 12px;
}
.layui-nav {
  padding: 0;
  height: 38px;
  background-color: #000;
}
.layui-nav * {
  font-size: 12px;
}
.layui-nav .layui-nav-item {
  a {
    color: rgba(255, 255, 255, 0.6);
    padding: 0px 7px 0 7px;
    margin-top: 12px;
  }
  line-height: 12px;
}
.layui-nav .layui-nav-more {
  position: inherit;
}
.layui-nav-item {
  height: 38px;
  line-height: 38px;
  & > a {
    display: inline-block;
    border-right: 1px solid #555;
  }
}
.layui-navLast {
  border-right: none !important ;
}
.layui-navColor:hover {
  background-color: #fff;
  & > a {
    color: red !important ;
  }
}
.layui-navColor:hover > a {
  color: red !important ;
}
#gouwuList {
  img {
    width: 50px;
    height: 50px;
  }
  dd {
    span {
      margin-right: 10px;
    }
    height: 60px;
  }

  color: #000;
  float: left;
  left: -294px;
}
.layui-nav-child {
  a {
    color: #666 !important;
  }
  top: 38px;
}
.layui-nav-child-div {
  width: 900px;
}
.layui-nav-child-div .layui-nav-child-1 {
  float: left;
  width: 90px;
  border-right: 1px solid #eee;
  padding-left: 20px;
}
.layui-nav-childLeft {
  left: -600px;
}
.ulRight {
  float: right;
}
.ulRight > .layui-nav-item > a {
  padding: 0px 10px 0 10px;
}
.layui-colImg {
  height: 35px;
  padding-top: 20px;
}
.layui-rowNav1 {
  display: flex;
  height: 70px;
}
.navTwo {
  font-size: 16px;

  a {
    margin-left: 37px;
    line-height: 70px;
  }
}
.sousuo {
  width: 26px;
  height: 26px;
  color: #666;
  margin-top: 20px;
}
.lunbo {
  img {
    width: 100%;
    height: 100%;
  }
  position: relative;
  width: 100%;
}
.layui-carousel[lay-arrow="always"] .layui-carousel-arrow {
  left: 336px;
}
.layui-carousel-ind {
  top: -65px;
}
.navInp {
  .cuo {
    float: right;
    padding: 6px 10px 0 0;
  }
  .sousuo {
    margin: 7px 5px 5px 10px;
  }
  background-color: #f2f2f2;
  position: absolute;
  top: 57px;
  left: 450px;
  height: 35px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 25px;
  display: none;
  input {
    width: 300px;
    height: 20px;
    background-color: #f2f2f2;
    top: 7px;
    position: absolute;
    border: none;
  }
  svg {
    width: 18px;
    height: 18px;
  }
}
.navTop {
  position: absolute;
  padding-top: 8px;
  top: 30px;
  left: 120px;
  width: 200px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
.navTopn {
  display: inline-block;
  height: 35px;
  width: 100%;
  &:hover {
    background-color: #fff;
  }
}
.navTopn :nth-child(1) {
  float: left;
  padding: 6px 0 0 18px;
}
.navTopn :nth-child(2) {
  float: right;
  padding: 8px 12px 0 0;
}
.navTop1 {
  position: absolute;
  padding: 8px 10px 0 10px;
  top: 30px;
  left: 320px;
  display: none;
  height: 450px;
  z-index: 1000;
  background-color: #fff;
  column-count: 3;
  -webkit-column-count: 3;
  column-width: 200px;
  -webkit-column-width: 200px;
  img {
    height: 50px;
    width: 50px;
  }
  .navTopr {
    padding: 15px 15px 10px 15px;
  }
}
.conter {
  background-color: #f1f3f5;
}
.layui-contList {
  display: flex;
  justify-content: space-between;
}
@mixin hunheqi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contList {
  @include hunheqi;
  height: 180px;
  .qiye {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
  }
  p {
    text-align: center;
  }
}
.layui-rowCont1 {
  display: flex;
  justify-content: space-between;
}
.layui-rowNav11 {
  display: none;
}
.rowContimg {
  @include hunheqi;
  img {
    width: 270px;
    height: 170px;
  }
}
.layui-rowCont2 {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}
.layui-rowCont2h3 {
  padding: 40px 0 15px 0;
  font-size: 24px;
  font-weight: bold;
}
.contImgFirst {
  margin-top: 10px;
  img {
    width: 440px;
    height: 295px;
  }
}
.contImgLast {
  display: inline-block;
  height: 295px;
  width: 212px;
  margin-top: 10px;
  background-color: #fff;

  img {
    padding: 20px 0 20px 40px;
    width: 142px;
    height: 142px;
  }
  p {
    text-align: center;
    margin-top: 5px;
  }
  p:nth-of-type(1) {
    font-weight: bold;
    span {
      display: inline-block;
      margin-right: 5px;
      height: 12px;
      background-color: #f93f5c;
      border-radius: 5px;
      color: #fff;
      padding: 3px;
      line-height: 12px;
      font-size: 12px;
    }
  }
  p:nth-of-type(2) {
    font-size: 14px;
    color: #aaa;
  }
  p:nth-of-type(3) {
    font-size: 16px;
    color: red;
  }
}
#test2 {
  margin: 30px 0;
  .layui-carousel-ind {
    ul {
      background-color: transparent;
    }
    top: -22px;
  }
  button {
    display: none;
  }
}
.layuiConttit {
  margin: 30px 0 10px 0;
  height: 40px;
  a {
    color: #606162;
    font-size: 20px;
    float: left;
    line-height: 40px;
    margin-right: 30px;
  }
  a:nth-of-type(1) {
    font-size: 24px;
  }
  a:nth-of-type(4) {
    font-size: 14px;
    float: right;
    margin: 0;
  }
}
.layui-rowCont3 {
  img {
    margin: 35px 0 30px 0;
    width: 180px;
    height: 190px;
  }
  .layuiImglist {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    width: 271px;
    height: 373px;
    background-color: #fff;
    p:nth-of-type(1) {
      margin: 10px 0;
    }
    p:nth-of-type(2) {
      color: #d52846;
      margin: 10px 0;
    }
    div {
      margin: 0 auto;
      border: 1px solid #d52846;
      border-radius: 5px;
      width: 60px;
      color: #d52846;
      font-size: 12px;
    }
  }
}

.layui-rowContd3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.layui-rowCont4 {
  img {
    margin: 15px 0 10px 0;
    width: 150px;
    height: 160px;
  }
  .layuiImglist {
    width: 200px;
    height: 303px;
  }
  .teshu {
    width: 431px;
    height: 300px;
  }
}
.foot {
  width: 100%;
  background-color: #fff;
}
.layui-col-foot {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  .layuiFoot {
    img {
      width: 24px;
      height: 24px;
    }
    font-size: 16px;
    padding: 35px 35px 15px 35px;
    width: 200px;
    height: 50px;
  }
}
.float {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 75px;
  padding: 5px 0;
  background-color: #fff;
  border-radius: 5px;
  .floatTop {
    display: none;
  }
  #gouwuIcon {
    position: absolute;
    text-align: center;
    display: none;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    width: 17px;
    height: 17px;
    left: 31px;
  }
  a {
    &:hover {
      color: red;
    }
    .icon {
      &:hover {
        color: red;
      }
      padding: 8px 24px;
      width: 26px;
      height: 26px;
      color: #ccc;
    }
    p {
      text-align: center;
    }
  }
}
